.full_footer{
    width: 100%;
}

.footer{
    width: 960px;
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer h1{
    color: #292929;
}

.footer p{
    color: #a6a6a6;
    font-size: 12px;
    padding-top: 10px;
}

.footer #copyright{
    color: #a6a6a6;
}

.footer .social_logo ul{
    list-style: none;
}

.footer .social_logo ul li{
    display: inline-block;
    padding: 10px 20px;
}

